@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700&subset=latin,vietnamese,latin-ext);



#msg-box1-1 H2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  text-align: left;
}
#msg-box1-1 B {
  font-size: 30px;
  font-family: 'Playfair Display', sans-serif;
}
#msg-box1-1 .btn {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 20px;
}







#msg-box1-u B {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
}
#msg-box1-u H2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
}
#msg-box1-5 H2 {
  font-size: 20px;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}
#msg-box1-5 .btn {
  font-size: 20px;
}
#msg-box1-7 H2 {
  font-size: 20px;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}
#msg-box1-7 .btn {
  font-size: 20px;
}
#msg-box1-7 B {
  font-family: 'Open Sans', sans-serif;
}
#msg-box1-w H2 {
  font-size: 20px;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}
#msg-box1-w .btn {
  font-size: 20px;
}
#msg-box1-w B {
  font-family: 'Open Sans', sans-serif;
}




#msg-box1-9 B {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
}
#msg-box1-9 H2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
}
#msg-box1-a H2 {
  font-size: 20px;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}
#msg-box1-a .btn {
  font-size: 20px;
}
#msg-box1-a B {
  font-family: 'Open Sans', sans-serif;
}







#msg-box1-d B {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
}
#msg-box1-d P {
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
}
#msg-box1-d H2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
}
#msg-box1-f H2 {
  font-size: 20px;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}
#msg-box1-f .btn {
  font-size: 20px;
}
#msg-box1-x H2 {
  font-size: 20px;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}
#msg-box1-x .btn {
  font-size: 20px;
}
#msg-box1-x B {
  font-family: 'Open Sans', sans-serif;
}
#msg-box1-e H2 {
  font-size: 20px;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}
#msg-box1-e .btn {
  font-size: 20px;
}







#msg-box1-h B {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
}
#msg-box1-h P {
  text-align: left;
}
#msg-box1-h H2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
}
#msg-box1-j H2 {
  font-size: 20px;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}
#msg-box1-j .btn {
  font-size: 20px;
}
#msg-box1-k H2 {
  font-size: 20px;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}
#msg-box1-k .btn {
  font-size: 20px;
}
#msg-box1-y H2 {
  font-size: 20px;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}
#msg-box1-y .btn {
  font-size: 20px;
}
#msg-box1-y B {
  font-family: 'Open Sans', sans-serif;
}
#msg-box1-i H2 {
  font-size: 20px;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}
#msg-box1-i .btn {
  font-size: 20px;
}



#msg-box1-v B {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
}
#msg-box1-v H2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
}
#msg-box1-m H2 {
  font-size: 20px;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}
#msg-box1-m .btn {
  font-size: 20px;
}
